body {
	margin: 1em 5em;
	font-family: 'Open Sans', Arial, sans-serif;
}

div {
	
}

#current {
  margin: 2em auto;
  display: block;
  width: 30em;
  text-align: center;
}

#previous {
  margin: 2em auto;
  display: block;
  width: 30em;
  text-align: center;
}

#login {
	margin-right: 3em;
	margin-top: 1em;
	float: right;	
	font-weight: bold;
	padding: 0.5em 1.5em;		
}

#login a {
	text-decoration: none;
}

#login:hover {
	background-color: rgba(0, 128, 255, 0.5);
	transition: background-color 0.3s ease-in;
}

#greeting {
	display: inline-block;
}

#languageselector {
	margin-left: 0.5em;
}

.lemma {
	font-size: 1.5em;
	font-weight: bold;
	padding: 1em;
}

.description {
	padding: 1em;
}

.QID {
	display: inline-block;
	margin: 0 0 0.75em 1em;
}

.LID {
	display: inline-block;
	margin: 0 1em;
}

button {
	margin: 0.5em;
}

.message {
	margin-bottom: 1em;
	color: grey;
}

#rejectbtn, #nextbtn, #savebtn {
	padding: 0.6em;
	width: 10em;
}

.header {
	margin: 0 auto 3em auto;
	width: max-content;
}
.stickyfooter {
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translateX(-50%);
}
