.stat {
	margin: 0 2em;
}
tr.total {
	font-weight: bold;
}
tbody tr td:last-child {
    text-align: right;
}
.info-symbol-description {
	/* dirty hack, transparent is nicer but
	 * overlaps with the text on the statistic page */
	background: #eaecf0;
}
h1 {
	height: 3em;
}
