.grid-container {
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;
	grid-template-rows: 53px auto auto auto auto auto;
}

.info-symbol-description {
	/* dirty hack, transparent is nicer but
	 * overlaps with the text on the statistic page */
	background: #eaecf0;
}
h1 {
	height: 3em;
}

.stat {
	margin: 0 2em;
}
tr.total {
	font-weight: bold;
}
tbody tr td:last-child {
    text-align: right;
}
.updated{
	margin-top: 10px;
	grid-column: 1/4;
	font-weight: bold;
}
.date{
	font-weight: normal;
}