{% extends "layout.html" %}
{% block head %}
    <script src="./static/machtsinn.js"></script>
    <link href="./static/main.css" rel="stylesheet">
    <link href='https://tools-static.wmflabs.org/fontcdn/css?family=Open+Sans:400,700&display=swap' rel='stylesheet' type='text/css'>
{% endblock %}
{% block links %}
    <a href="./statistics" title="Statistics"><p id="stat-symbol">&#128200;</p></a>
{% endblock %}
{% block content %}
    <p id="heading">MachtSinn</p>
    <p id="subheading">A game to add senses to Wikidata Lexemes</p>

    <div id="message"></div>
    <div id="current">
        <div id="lexeme" class="lexeme">
            <span id="prefix" class="prefix"></span>
            <span><a id="lemma" class="lemma"></a></span>
            <span id="lexdata" class="lexdata">
                (<span id="lexcat" class="lexcat"></span><span id="joiner" class="joiner">,
                </span><span id="genus" class="genus"></span>)
            </span>
        </div>
        <p>Is</p>
        <div id="descriptions">
            <div id="description-block-{{currentlangid}}" class="descriptionblock">
                <div class="description-line">“<a class="description"></a>”</div>
                <input type="text" class="descriptionInput" size="40">
                <button class="editbtn" title="edit this description">&#9997;</button>
                <button class="commitbtn">&check;</button>
            </div>
            <template id="further-descriptions" class="descriptionblock">
             <div id="description-block-lang" class="additionaldesc">
                <span class="langcode"></span>:&nbsp;<!--
             --><div class="description-line">“<a class="description"></a>”</div>
                <input type="text" class="descriptionInput" size="40">
                <button class="editbtn">&#9997;</button>
                <button class="commitbtn">&check;</button>
            </div>
            </template>
        </div>
        <p>a common meaning (sense) for the given word?</p>
        {% if username %}
        <div id="buttons">
            <button id="rejectbtn" title="Press 'n'">No match</button>
            <button id="savebtn" title="Press 'm'">It's a match</button>
            <button id="nextbtn" title="Press 's'">Skip</button>
        </div>
        {% endif %}
    </div>

    <div id="editwarning" class="note">
        <p>
        Please change only phrasing, not meaning!
        </p>
        <p>
        The gloss must still match with the linked item.
        </p>
    </div>

    <div id="previous">
        <div class="message" id="previous-message">Last Saved</div>
        <div id="previous-match">
            <div id="prev-description-line">“<a id="description" class="description"></a>”</div>
            <p>is a common meaning for</p>
            <div id="lexeme" class="lexeme">
                <span id="prefix" class="prefix"></span>
                <span><a id="lemma" class="lemma"></a></span>
                <span id="lexdata" class="lexdata">
                    (<span id="lexcat" class="lexcat"></span><span id="joiner" class="joiner">,
                    </span><span id="genus" class="genus"></span>)
                </span>
            </div>
        </div>
    </div>

    <div class="stickyfooter">
        <div class="footer">
            <div id="languagesetting">
                <label>Language</label>
                <select id="languageselector">
                    {% for lang in languages %}
                    <option value="{{lang[1]}}" {{'selected' if currentlang == lang[1]}}>{{lang[0]}}</option>
                    {% endfor %}
                </select>
                <span id="addLang">
                    💬
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
