{% extends "layout.html" %}
{% block head %}
	<script src="./static/machtsinn.js"></script>
        <link href="./static/main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
{% endblock %}
{% block links %}
        <a href="./statistics" title="Statistics"><p id="stat-symbol">&#128200;</p></a>
{% endblock %}
{% block content %}
    <p id="heading">MachtSinn</p>
    <p id="subheading">A game to add senses to Wikidata Lexemes</p>

    <div id="message"></div>
    <div id="current">
        <div class="lexeme">
            <span><a class="lemma"></a></span>
            <span class="lexdata">(
                <span class="lexcat"></span><span class="joiner">,</span>
                <span class="genus"></span>
                )
            </span>
        </div>
        <p>Is</p>
        <div>“<a class="description"></a>”</div>
        <p>a common meaning (sense) for the given Word?</p>
        {% if username %}
        <div id="buttons">
            <button id="rejectbtn">No match</button>
            <button id="savebtn">It's a match</button>
            <button id="nextbtn">Skip</button>
        </div>
        {% endif %}
    </div>

    <div id="previous">
        <div class="message">Last Saved</div>
        <div id="previous-lemma-description">
            <div>“<a class="description"></a>”</div>
            <p>is a common meaning for</p>
            <div class="lexeme">
                <span><a class="lemma"></a></span>
                <span class="lexdata">(
                    <span class="lexcat"></span><span class="joiner">,</span>
                    <span class="genus"></span>
                    )
                </span>
            </div>
        </div>
    </div>

    <div class="stickyfooter">
        <div class="footer">
            <div id="languagesetting">
                <label>Language</label>
                <select id="languageselector">
                    {% for lang in languages %}
                    <option value="{{lang[1]}}" {{'selected' if currentlang == lang[1]}}>{{lang[0]}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
{% endblock %}
