{% extends "layout.html" %}

{% block head %}
        <link href="/machtsinn/static/main.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="header"><a href=".">Main</a></div>

<h1>Senses added with MachtSinn</h1>
<table>
        <tr>
                <th>Language</th>
                <th>#</th>
        </tr>

        {% for row in added %}
        <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
        </tr>
        {% endfor %}
</table>

<h1>Senses still to inspect</h1>
<table>
        <tr>
                <th>Language</th>
                <th>#</th>
        </tr>

        {% for row in todo %}
        <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
        </tr>
        {% endfor %}
</table>

<h1>Wrong matches rejected</h1>
<table>
        <tr>
                <th>Language</th>
                <th>#</th>
        </tr>

        {% for row in rejected %}
        <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
        </tr>
        {% endfor %}
</table>

<div class="footer"><a href="https://github.com/Nudin/makesense">Code on Github</a></div>
{% endblock %}
